{% extends "layout.html" %}
{% block body %}
    <nav class="navbar navbar-light bg-light w-100">
        <div class="navbar-brand">
            <img src="{{ url_for('static', filename='pics/logo.png') }}" alt="logo" id="logo">
        </div>
    </nav>
    <div class="cont">
        <div class="split d-flex flex-column">
            <h3 class="top-space">Regex:</h3>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="*(|(a.b,*(c)))"
                       aria-label="Recipient's username" aria-describedby="button-addon2" id="regex-input">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="regex">Generate</button>
                </div>
            </div>
            <h3 class="top-space">Input text:</h3>
            <textarea class="top-space" name="input" id="input" cols="80" rows="13"></textarea>
            <div class="btn-group w-100">
                <button class="btn btn-success top-space col-lg-6" id="submit">Parse</button>
                <button class="btn btn-primary top-space col-lg-6" id="dfa">Convert to DFA</button>
            </div>
        </div>
        <div class="split d-flex flex-row">
            <div class="split">
                <h3 id="aut-type"></h3>
                <h3 id="finite"></h3>
                <img src="" alt="" id="aut-img">
            </div>
            <div class="split">
                <div class="vertical-split" id="list-container"></div>
                <div class="vertical-split" id="list-possible-words"></div>
            </div>
        </div>
    </div>
{% endblock %}